.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 29px;
  margin-bottom: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.btn {
  background: orangered;
  color: white;
  border: none;
  padding: 24px;
  border-radius: 16px;
  cursor: pointer;
  font-size: large;
  font-style: oblique;
  margin-left: 12px;
}

.btn:hover {
  background: blue;
  cursor: pointer;
  text-decoration: underline;
}
.progress-container {
  background-color: #eee;
  height: 10px;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 10px;
  border-radius: 4px;
}

.progress-bar-fill {
  height: 10px;
  border-radius: 4px;
}

.deposit-button {
  margin-top: 40px;
  padding: 10px 16px;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
}

.deposit-button:hover {
  background-color: blue;
  text-decoration: underline;
}

input {
  padding: 16px;
  border-radius: 12px;
  margin-left: 12px;
}

body {
  background-image: url(https://images.pexels.com/photos/8693381/pexels-photo-8693381.jpeg);
}
